:root{
    background-color: black;
    color: #f8f9f5;
    font-family: 'Quicksand', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    position: relative;
}
  
#navbar{
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 50px;
}

.fullPage{
    height: 100%;
}
/* a::first-letter{
    color: red;
}
#footer{
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 15px;
}
a {
    color: #f8f9f5;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
  }
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

#about{
    position: relative;
    flex: auto;
} */
